
Dungeon/.vs/Dungeon/v15/.suo
Dungeon/.vs/Dungeon/v15/Browse.VC.db
Dungeon/.vs/Dungeon/v15/Browse.VC.opendb
Dungeon/.vs/Dungeon/v15/ipch/AutoPCH/d30a90bb4c53766a/FRAMERATE.ipch
Dungeon/Dungeon.sln
Dungeon/Dungeon/Dungeon.vcxproj
Dungeon/Dungeon/Dungeon.vcxproj.filters
Dungeon/Dungeon/Dungeon.vcxproj.user
Dungeon/Dungeon/x64/Debug/Dungeon.log
Dungeon/Dungeon/x64/Debug/Dungeon.tlog/CL.command.1.tlog
Dungeon/Dungeon/x64/Debug/Dungeon.tlog/Dungeon.lastbuildstate
Dungeon/Dungeon/x64/Debug/Dungeon.tlog/link.command.1.tlog
Dungeon/Dungeon/x64/Debug/Dungeon.tlog/link.read.1.tlog
Dungeon/Dungeon/x64/Debug/Dungeon.tlog/link.write.1.tlog
Dungeon/Dungeon/x64/Debug/Dungeon.tlog/unsuccessfulbuild
Dungeon/Dungeon/x64/Debug/framerate.obj.enc
Dungeon/Dungeon/x64/Debug/vc141.idb
Dungeon/Dungeon/x64/Debug/vc141.pdb
Dungeon/x64/Debug/Dungeon.exe
Dungeon/x64/Debug/Dungeon.ilk
Dungeon/x64/Debug/Dungeon.pdb
ProyectoCasaSergio/.vs/ProyectoCasaSergio/v15/.suo
ProyectoCasaSergio/.vs/ProyectoCasaSergio/v15/Browse.VC.db
ProyectoCasaSergio/.vs/ProyectoCasaSergio/v15/Browse.VC.opendb
ProyectoCasaSergio/.vs/ProyectoCasaSergio/v15/ipch/AutoPCH/6f2fb747f9396c7c/PATHFINDING.ipch
ProyectoCasaSergio/.vs/ProyectoCasaSergio/v15/ipch/AutoPCH/79309132a94a8ee9/FRAMERATE.ipch
ProyectoCasaSergio/.vs/ProyectoCasaSergio/v15/ipch/AutoPCH/e44fbdc6319dac8e/PATHFINDING.ipch
ProyectoCasaSergio/ProyectoCasaSergio.sln
ProyectoCasaSergio/ProyectoCasaSergio/Debug/Proyecto.6F21EC8F.tlog/CL.command.1.tlog
ProyectoCasaSergio/ProyectoCasaSergio/Debug/Proyecto.6F21EC8F.tlog/ProyectoCasaSergio.lastbuildstate
ProyectoCasaSergio/ProyectoCasaSergio/Debug/Proyecto.6F21EC8F.tlog/unsuccessfulbuild
ProyectoCasaSergio/ProyectoCasaSergio/Debug/ProyectoCasaSergio.log
ProyectoCasaSergio/ProyectoCasaSergio/Debug/vc141.idb
ProyectoCasaSergio/ProyectoCasaSergio/Debug/vc141.pdb
ProyectoCasaSergio/ProyectoCasaSergio/ProyectoCasaSergio.vcxproj
ProyectoCasaSergio/ProyectoCasaSergio/ProyectoCasaSergio.vcxproj.filters
ProyectoCasaSergio/ProyectoCasaSergio/ProyectoCasaSergio.vcxproj.user
ProjectSergio/.vs/ProjectSergio/v15/Browse.VC.db
ProjectSergio/.vs/ProjectSergio/v15/Browse.VC.opendb
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/22cd731330d1a492/PATHFINDING.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/2c73c4c7a4c1cf08/MOVIMIENTO.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/4fcef66d4b38a5fa/CREATEROOM.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/656cceed508fb7d9/CREATEROOM.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/7ef4c7a4c9184a8e/FRAMERATE.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/8d07e457ae7ea19/MOVEMENT.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/b35690473d1465d5/FRAMERATE.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/d06d02b4c836867b/MOVIMIENTO.ipch
ProjectSergio/.vs/ProjectSergio/v15/ipch/AutoPCH/fca91da54aab0742/PLAYERMOVEMENT.ipch
ProjectSergio/ProjectSergio.sln
ProjectSergio/ProjectSergio/ProjectSergio.vcxproj
ProjectSergio/ProjectSergio/ProjectSergio.vcxproj.filters
ProjectSergio/ProjectSergio/ProjectSergio.vcxproj.user
ProjectSergio/ProjectSergio/x64/Debug/CreateRoom.obj
ProjectSergio/ProjectSergio/x64/Debug/FrameRate.obj
ProjectSergio/ProjectSergio/x64/Debug/Movimiento.obj
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.log
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/CL.command.1.tlog
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/CL.read.1.tlog
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/CL.write.1.tlog
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/link.command.1.tlog
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/link.read.1.tlog
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/link.write.1.tlog
ProjectSergio/ProjectSergio/x64/Debug/ProjectSergio.tlog/ProjectSergio.lastbuildstate
ProjectSergio/ProjectSergio/x64/Debug/vc141.idb
ProjectSergio/ProjectSergio/x64/Debug/vc141.pdb
ProjectSergio/x64/Debug/ProjectSergio.exe
ProjectSergio/x64/Debug/ProjectSergio.ilk
ProjectSergio/x64/Debug/ProjectSergio.pdb
test/.vs/test/v15/.suo
test/.vs/test/v15/Browse.VC.db
test/.vs/test/v15/Browse.VC.opendb
test/.vs/test/v15/ipch/AutoPCH/5076684968a52140/SOURCE.ipch
ProjectSergio/.vs/ProjectSergio/v15/.suo
test/.vs/test/v15/.suo
test/.vs/test/v15/Browse.VC.db
test/.vs/test/v15/Browse.VC.opendb
